/.idea/
terraform/terraform.tfvars
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/meta.txt
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.tfstate.lock.info
/ssh/diploma_bastion
/ssh/diploma_bastion.pub
/ssh/diploma_common
/ssh/diploma_common.pub
