/.idea/
terraform/terraform.tfvars
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/meta.txt
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.tfstate.lock.info
